<!DOCTYPE html>
<html>
<head>
  <title>Tenantfy</title>
  <%= stylesheet_link_tag    "tenantfy/application", :media => "all" %>
  <%= javascript_include_tag "tenantfy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
